/* note if seeing this > NWO TWOCHY! D:< ... */

/* Mobile Touch Controllers styling rules */
#mobile-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.mobile-hit-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #2b2b3d;
    border: 2px solid #ff0066;
    color: white;
    user-select: none;
    touch-action: manipulation;
}

.mobile-hit-btn:active {
    background-color: #ff0066;
    transform: scale(0.95);
}

.search-bar-container input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #33334c;
    background-color: #121219;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.search-bar-container input:focus {
    border-color: #00ffff;
    outline: none;
}
